<section class="w-75 mx-auto rounded shadow bg-main-light p-4 mt-4">
    <div class="d-flex justify-content-between mb-4">
        <h1 class="fw-bolder">Shop Cart</h1>
        <button (click)="clear()"  class="btn btn-outline-danger ">clear Cart</button>
    </div>
    <div>
        <p class="fw-bolder">Total Price: <span class="text-main">{{cartDetails.totalCartPrice|currency: 'EGP ' }} </span></p>
    </div>

    <div class="row border-bottom py-2" *ngFor="let item of  cartDetails.products">
        <div class="col-md-1">
            <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>
        <div class="col-md-11 d-flex justify-content-between align-items-center">
            <div>
                <h3 class="h5">    {{item.product.title}}    </h3>
                <p> Price: <span class="text-main"> {{item.price |currency:'EGP'}}  </span>     </p>
                <button class="text-danger btn p-0 m-0" (click)="removeProduct(item.product._id)"><i class="fa-solid fa-trash-can "></i> Remove   </button>
            </div>
            <div>
                <button #btnMin (click)="changeCount(item.count - 1 , item.product._id  ,btnMax ,btnMin )" class="btn btn-outline-success btn-sm"> - </button>
                <span class="ms-1 me-1">   {{item.count}}   </span>
                <button #btnMax (click)="changeCount(item.count + 1 , item.product._id  ,btnMax ,btnMin )"  class="btn btn-outline-success btn-sm"> + </button>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center p-4 mt-4 ">
        <button [routerLink]="['/payment',cartDetails._id ]" class="btn btn-outline-success w-50">CheckOut</button>


    </div>

</section>